.main{
    /* width: 72%; */
    background-color: white;
   
    
}
.menu{
   font-Size:"20px";
   /* display: flex; */
   /* justify-content: space-between; */

}

/* .main2{
    width:10%;
    background-color: aqua;
    float: left;
} */
 /* .heading{
    position: relative;
    top: 5px;
 } */
 .container1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* margin-left: 58%; */
   
 }
 .input-icons{
    display: flex;
   gap: 4%;
 }
 .input-field{
    width: 350px;
    height: 25px;
    color: #f1f1f1;
    border: 2px solid #f9f6ff;
    border-radius: 5px;
 }
 hr{
   border: 1px solid #f9f6ff;
 }
 .input-icons span{
    position: relative;
    right: 50px;
    top: 3px;
    color:  #949494;
}
@media (max-width:1220px)
{
   .menu{
      display: none;
   }
}

@media(max-width:425px) and (min-width: 100px)
{
   .input-field{
      display: none;
   }
   .search-icon{
      display:none;
   }
   .input-icons{
      gap: 10px;
   }

}


