.side_bar{
      /* padding: 20px; */
      display: flex;
      width: 20%;

    
}
.icon{
    /* gap: 20px; */
    margin: 13px;
    padding: 10px;
}
.side_bar2{
    width: 100%; 
    background-color: white !important;
     border-radius: 10px;
     padding: 15px;
     gap: 25px;
     display: flex;
     flex-direction: column;
}
.side_bar2 ul{
    list-style: none;
}
.side_lists ul {
      display: flex;
    flex-direction: column;
    gap: 10px;
      list-style-type: none !important;

}
.side_label{
    color: #90899e;

}
.side_line{
    margin-top: 10px;
    border: 1px solid #dedde2;
}
.side_line1{
    margin-top: 18px;
    border: 1px solid #dedde2;
}
.profile_box{
    border: 2px solid  #dedde2;
    border-radius: 7px;
    background-color:  #dedde2;
    width: 100px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 4px;
    margin: 10px 40px;
}
.logo{
    display: flex;
    gap: 3px;
}
.logo img{
    height: 35px; 
}
/* @media (max-width:1107px) {
    .side_bar{
        display: none;
    }
    .side_bartab{

    }
    
} */
 @media (max-width:1220px){
  .side_bar{
    display: none !important;
  }
 }



